{% extends '::base_logged_in.html.twig' %}
{% block slider_position %}5{% endblock %}
{% block body %}
<div class="settings-pg padding-sepataor">
    <h1>Lista de comenzi</h1>
    <table class="my_orders" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <th>
                sdf
            </th>
            <th>
                sdf
            </th>
            <th>
                sdf
            </th>
        </tr>
        <tr>
            <td>
                sdf
            </td>
            <td>
                sdf
            </td>
            <td>
                sdf
            </td>
        </tr>
    </table>
</div>
<script>
    
</script>
{% endblock %}