
<form action="{{ path('NotarNotarBundle_login') }}" method="post">
    <table>
        <tr>
            <td>
                User:
            </td>
            <td>
                <input type="text" name="user_name">
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Enter">
</form>