<div class="notar-address-s1 rounded">
    <h1>{{ notar.notarname }}</h1>
    <div class="notar-address">
        <b>Address:</b>{{ notar.notaraddress }}
        <br />
        <b>Telephone:</b>{{ notar.phone }}
        <br />
        <b>FAX:</b>
        <br />
        <b>Email:</b>{{ notar.email }}
        <br />
    </div>
    <div class="rounded flash-info flash-icon-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. 				
    </div>
    <h1>Google Map</h1>
    <div class="gmap-address"></div>
    <div class="rounded flash-info-green clear-all">
        Ati ales sa traduceti Nume Document sa fie tradus din <b>Limba Sursa</b> in <b>Limba Finala</b>. Pretul pentru Doc este <b>29.99 MDL</b>
    </div>
</div>