.hidden, .hidden_doc {
    display: none;
}
label{
    cursor: pointer;
}
body
{
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    color: #0064C2;
    outline: none;
}
a:hover
{
    text-decoration: underline;
}
header,
footer,
nav
{
    display: block;
    position: relative;
}
header
{
    background-image: url("../images/header-bg.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
    height: 105px;
    padding-bottom: 5px;
}
header nav
{
    display: inline-block;
    height: 60px;
    line-height: 60px;
}
footer
{
	margin-top: 20px;
}
footer nav
{
    display: inline-block;
    line-height: 24px;
}
header nav a,
footer nav a
{
    border-right: 1px solid #C6C6C6;
    color: #000000;
    padding: 0 20px;
}
footer nav a:first-child
{
	padding-left:0px;
}
header nav a:last-child,
footer nav a:last-child
{
    border-right: 0 none;
    padding-right: 0;
}
header nav a.active,
footer nav a.active
{
	color: #f26d04;
}
.header-buttons
{
    float: right;
    line-height: 60px;
}
.logo
{
    background-image: url("../images/logo.gif");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 60px;
    text-indent: -9999px;
    width: 225px;
}
.languages
{
    padding-top: 10px;
    text-align: right;
}
.flag-md,
.flag-ru
{
    background-image: url("../images/flag-md.gif");
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    margin-left: 5px;
	text-align: left;
    text-indent: -9999px;
    width: 16px;	
}
.flag-ru
{
	background-image: url("../images/flag-ru.gif");
}

.footer-nav
{
    background-color: #F8F8F8;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    padding: 10px 0;
}
.follow-us
{
    float: right;
    line-height: 24px;	
}
.follow-us a
{
    display: inline-block;
    height: 24px;
    margin-left: 4px;
    text-indent: -9999px;
    width: 24px;
}
a.facebook
{
	background-image: url("../images/facebook.png");
}
a.twitter
{
	background-image: url("../images/twitter.png");
}
a.google
{
	background-image: url("../images/google.png");
}
.copyright
{
    color: #989898;
    margin-bottom: 20px !important;
    padding-top: 20px;
}
.to-right
{
	float: right;
}
.to-center
{
	text-align: center;
}
.text-to-center
{
	text-align: left;
}
.top-separator
{
	margin-top:20px;
}

.steps-slider
{
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    padding: 20px 0;
}
.steps-list
{
	overflow: hidden;
}
.steps-list .step-item
{
    background-image: url("../images/slider-step-item-scale.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #888888;
    float: left;
    padding-bottom: 18px;
    text-align: center;
    width: 192px;
}
.steps-list .step-item.active
{
	color: #000000;
}
.slider-bar
{
	background-color: #E2E2E2;
	-webkit-box-shadow: inset 0px 1px 1px 0px #848484;
	box-shadow: inset 0px 1px 1px 0px #848484; 	
}
.slidebar-active
{
	background: #fe9d37; /* Old browsers */
	background: -moz-linear-gradient(top,  #fe9d37 0%, #ea7f2c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe9d37), color-stop(100%,#ea7f2c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fe9d37 0%,#ea7f2c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fe9d37 0%,#ea7f2c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fe9d37 0%,#ea7f2c 100%); /* IE10+ */
	background: linear-gradient(top,  #fe9d37 0%,#ea7f2c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe9d37', endColorstr='#ea7f2c',GradientType=0 ); /* IE6-9 */
}
.slide-bar-step-1,
.slide-bar-step-2,
.slide-bar-step-3,
.slide-bar-step-4,
.slide-bar-step-5
{
    height: 5px;
    width: 96px;
}
.slide-bar-step-2
{
	width: 288px;
}
.slide-bar-step-3
{
	width: 480px;
}
.slide-bar-step-4
{
	width: 672px;
}
.slide-bar-step-5
{
	width: 864px;
}
.slide-bar-indicator
{
    background-image: url("../images/slider-indicator.png");
    background-position: center center;
    float: right;
    height: 19px;
    margin-right: -10px;
    margin-top: -7px;
    width: 19px;
}
.documents-items-list
{
    overflow: hidden;
    padding-bottom: 20px;
}
.documents-items-list .document-item
{
    float: left;
    margin: 20px 0 0 20px;
}
.document-item
{
    overflow: hidden;
    position: relative;
    width: 142px;
}
.document-item .remove-item-btn
{
    background-image: url("../images/icon-remove.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 17px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-indent: -9999px;
    top: 5px;
    width: 17px;
}
.document-item-img-container
{
    border: 1px solid #E5E5E5;
    display: table-cell;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}
.document-item-name
{
    display: block;
    height: 28px;
    margin-top: 10px;
    overflow: hidden;	
}

.documnets-by-category
{
    border: 1px solid #E5E5E5;
    height: 500px;
    overflow: hidden;
}
.documnets-by-category .categories-list
{
    border-right: 1px solid #E5E5E5;
    float: left;
    height: 500px;
    width: 240px;
}
.categories-docs-list
{
    height: 480px;
    overflow: auto;
    padding-left: 22px;
}
.categories-list .categories-title
{
    border-bottom: 1px solid #E5E5E5;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
}
.categories-list .categories-list-items
{
    height: 459px;
    overflow: auto;
    width: 240px;
}
.categories-list-items a
{
    border-bottom: 1px solid #E5E5E5;
    color: #333333;
    display: block;
    font-size: 14px;
    padding: 12px;
}
.categories-list-items a:hover,
.categories-list-items a.active
{
    background-color: #F7F7F7;
    color: #F28631;
	text-decoration: none;
}
.categories-list-items a.active
{
    background-image: url("../images/icon-arrow-orange-right.png");
    background-position: 200px center;
    background-repeat: no-repeat;
}
.clear-all
{
	clear: both;
}
.centered
{
	width: 960px;
	clear: both;
	margin: 0px auto;
	overflow: hidden;
	position: relative;
}
.ceneterd-element
{
	margin: 0 auto;
}
input[type=button]
{
    font-weight: bold;
    margin: 0;
    padding: 5px 20px;
}
.rounded
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.standard-btn
{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
	
	border: 1px solid #C5C5C5;
}
.orange-btn
{
	background: #fe9d37; /* Old browsers */
	background: -moz-linear-gradient(top,  #fe9d37 0%, #ea7f2c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe9d37), color-stop(100%,#ea7f2c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fe9d37 0%,#ea7f2c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fe9d37 0%,#ea7f2c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fe9d37 0%,#ea7f2c 100%); /* IE10+ */
	background: linear-gradient(top,  #fe9d37 0%,#ea7f2c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe9d37', endColorstr='#ea7f2c',GradientType=0 ); /* IE6-9 */
	
    border: 1px solid #CC6E00;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #4E4E4E;      
}
div.div-btn
{
	display: inline-block;
}
a.button
{
    color: #000000;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 5px 20px;
}
a.next-btn,
a.prev-btn,
a.add-btn,
a.tick-btn
{
    background-image: url("../images/icon-next.png");
    background-position: right center;
    background-repeat: no-repeat;
    margin-right: 15px;
    padding-right: 30px;
}
a.prev-btn
{
    background-image: url("../images/icon-prev.png");
    background-position: left center;
    margin-left: 15px;
    margin-right: 0;
    padding-left: 30px;
}
a.add-btn
{
	background-image: url("../images/icon-add.png");
}
a.tick-btn
{
	background-image: url("../images/icon-tick.png");
}
.flash-info,
.flash-info-green
{
    background-color: #EDF5FD;
    border: 1px solid #B8D6FB;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
}
.flash-info-green
{
    background-color: #f8fbf2;
    border: 1px solid #d6e9ae;	
}
.flash-info a
{
	color: #0064c2;
}
.flash-icon-info
{
    background-image: url("../images/icon-info.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
}
.border-separator
{
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    position: relative;
}
.border-bottom-separator
{
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    position: relative;
}
.padding-sepataor
{
	padding-top: 20px;
	padding-bottom: 20px;
}
.two-cols-arrow-separator
{
    padding: 0 30px;
    vertical-align: middle;
}
.item-flag-en,
.item-flag-ro,
.item-flag-ru,
.item-flag-fr,
.item-flag-it,
.item-flag-es,
.item-flag-ua
{
    background-image: url("../images/icon-flag-uk.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 35px;
}
.item-flag-ro
{
    background-image: url("../images/icon-flag-ro.png");
}
.item-flag-ru
{
    background-image: url("../images/icon-flag-ru.png");
}
.item-flag-fr
{
    background-image: url("../images/icon-flag-fr.png");
}
.item-flag-it
{
    background-image: url("../images/icon-flag-it.png");
}
.item-flag-es
{
    background-image: url("../images/icon-flag-es.png");
}
.item-flag-ua
{
    background-image: url("../images/icon-flag-ua.png");
}

.select-list
{
	width: 300px;
}
.select-list .select-list-title
{
	border: 1px solid #C5C5C5;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
}
.select-list .select-list-items
{
    border: 1px solid #C5C5C5;
    height: 350px;
    margin-top: -1px;
    overflow: auto;
}
.select-list .select-list-items .select-list-item
{
    border-bottom: 1px solid #C5C5C5;
    font-size: 13px;
    padding: 12px 20px;
    cursor: pointer;
}
.select-list .select-list-items .select-list-item:last-child
{
	border-bottom: 0px;
}
.select-list .select-list-items .select-list-item.active,
.select-list .select-list-items .select-list-item.active:hover
{
	background-color: #438ac0;
	color: #FFFFFF;
}
.select-list .select-list-items .select-list-item:hover
{
	background-color: #f1f9ff;
}
.doc-template
{
    border: 1px solid #E5E5E5;
    float: left;
    padding: 20px 30px;
}
.doc-template-details-form
{
    border: 1px solid #E5E5E5;
    float: right;
    padding: 20px 30px;
}
fieldset
{
    border: 0 none;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
fieldset label
{
    display: inline-block;
    padding-right: 20px;
    text-align: right;
    width: 100px;
}
fieldset input[type=text],
fieldset input[type=password],
fieldset select
{
    background-color: #FAFAFA;
    border: 1px solid #CACACA;
    color: #969696;
    padding: 6px 15px;
    width: 400px;
	
	-webkit-box-shadow: inset 0px 1px 2px 0px #c2c2c2;
	box-shadow: 0 1px 2px 0 #c2c2c2 inset; 	
}
fieldset select
{
    padding-right: 5px;
    width: 432px;
}


.preview-order
{
    margin: 0 auto;
    width: 500px;
}
.preview-order h1
{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.preview-order .info-line
{
    border-top: 1px solid #E5E5E5;
    color: #7F7F7F;
    font-size: 16px;
    padding: 15px 0;
}
.preview-order .info-line:last-child
{
	border-bottom: 1px solid #E5E5E5;
}
.preview-order .info-line .label
{
    color: #000000;
    display: inline-block;
    margin-right: 20px;
    width: 150px;
}
.notars-list-s1
{
    float: left;
    margin-bottom: 20px;
}
.notars-list-s1 .select-list-items
{
	height: 327px;
}
.notar-address-s1
{
    border: 1px solid #C5C5C5;
    float: right;
    padding: 20px 30px;
    width: 560px;
}
.notar-address-s1 h1,
.auth-forms .forms .login-form h1,
.auth-forms .forms .register-form h1
{
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
}
.notar-address-s1 .notar-address b
{
    display: inline-block;
    width: 100px;
}
.notar-address-s1 .gmap-address
{
	padding:5px;
	border: 1px solid #E5E5E5;
}

.auth-forms .forms
{
    border: 1px solid #C5C5C5;
    overflow: hidden;
    padding: 30px 80px;
    position: relative;
}
.auth-forms .forms .login-form
{
	float: left;
}
label.toggled
{
    color: #969696;
    line-height: 32px;
    padding-left: 10px;
    position: absolute;
    width: auto;
}
.auth-forms .forms .login-form input[type=text],
.auth-forms .forms .login-form input[type=password],
.auth-forms .forms .register-form input[type=text],
.auth-forms .forms .register-form input[type=password]
{
	width: 280px;
}
.auth-forms .forms .register-form
{
    border-left: 1px solid #C5C5C5;
    float: right;
    padding-bottom: 20px;
    padding-left: 90px;
}
.settings-pg h1
{
    border-bottom: 1px dashed #E5E5E5;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 20px;
    padding-bottom: 10px;
}
.settings-form
{
    border: 1px solid #C5C5C5;
    overflow: hidden;
    padding: 30px;
    position: relative;
}
.settings-form .ceneterd-element
{
	width: 560px;
}
.my_orders td{
    border-top:1px solid #D2D2D2;
    border-bottom:1px solid #D2D2D2;
}
.my_orders th{
    border-top:1px solid #D2D2D2;
    padding: 12px;
}